ul{
  li{
    color: #fff;
  }
}
.principalContainerAdminHome{
  width: 100%;
  height: auto !important;
  background-image: url("/src/assets/repository-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1{
    color: #0194da;
    font-size: 2rem !important;
    margin-bottom: 20px;
    margin-top: 100px;
    user-select: none;
  }
  @media screen and (max-width: 600px) {
    h1{
      color: #0194da;
      font-size: 1.8rem !important;
      margin-top: 100px;
    }
  }

}

